@import '../../assets/sass/colors.scss';

.delete-account {
    width: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: flex-end;

    .text-container {
        display: flex;
        gap: .5rem;
        cursor: pointer;
        transition: transform .2s ease;

        &:hover  {
            color: $accentColor;
            transform: translateY(.25rem)
        }
    
        .icon {
            font-size: 1.25rem;
        }
    }
}