@import '../../assets/sass/colors.scss';

.modal {
    width: 100vw;
    height: 100dvh;
    background: rgba($darkColor, .75);
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;

    .modal-content {
        background: $whiteColor;
        color: $darkColor;
        border: solid 4px $accentColor;
        border-radius: .5rem;
        width: 20rem;
        padding-bottom: 1rem;
        position: relative;
        display: grid;
        grid-template-rows: .5fr 2fr;
        gap: 1.5rem;
        transition: transform .3s ease;

        .icon-container {
            background: $darkColor;
            border: solid 4px $accentColor;
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            top: -2.5rem;
            transform: translateX(-50%);

            .icon {
                color: $whiteColor;
                font-size: 3rem;
            }
        }
    }

    .message-container {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0 1rem;
            gap: .5rem;

            .topline {
                font-size: 1.3rem;
                font-weight: 600;
            }

            .message {
                font-size: 1rem;
                font-weight: 500;
                opacity: .5;
            }
        }

        .buttons-container {
            display: flex;
            gap: .5rem;

            button {
                width: 8rem;
                height: 2.5rem;
                border-radius: .25rem;
                font-size: 1rem;
                cursor: pointer;
                transition: transform .2s ease;

                &:hover {
                    transform: translateY(.15rem);
                }
            }

            .secondary-button {
                background: transparent;
                border: solid 1px $darkColor; 

                &:hover {
                    background: rgba($darkColor, .1);
                }
            }

            .primary-button {
                background: $darkColor;
                color: $whiteColor;
                border: none;

                &:hover {
                    background: rgba($darkColor, .9);
                }
            }
        }
    }
}