@import '../../../assets/sass/forms-style.scss';

.newLinkForm-input-wrapper {
    width: 100%;
    min-height: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
    background: transparent;
    border: solid 1px rgba($whiteColor, .1);
    padding: .5rem;
  
    p {
      font-size: .8rem;
      white-space: nowrap;
      opacity: .5;
    }
  
    .input {
      height: 3rem;
      width: 100%;
      padding-left: .5rem;
      background: $darkColorRelief;
      color: $whiteColor;
      border: solid 1px rgba($whiteColor, .1);
      outline: none;
      font-size: .9rem;
      font-weight: 400;

      &:focus {
        border-color: $accentColor;
      }
    }
}