@import '../../assets/sass/colors.scss';
@import '../../assets/sass/breakpoints.scss';

.hidden-menu {
    transform: translateX(100%);
}
.mobile-menu {
    position: fixed;
    top: 5rem;
    width: 100vw;
    height: calc(100dvh - 5rem);
    background: $darkColorRelief;
    display: flex;
    align-items: center;
    transition: .2s ease-in-out;
}

@media (min-width: $breakpointLargeTablet) {

    .mobile-menu {
        display: none;
    }
}