@import '../../../assets/sass/colors.scss';
@import '../../../assets/sass/breakpoints.scss';

.release-infos {
    width: 100%;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    text-align: center;
    position: sticky;
    top: 10rem;
    z-index: 2;
    background: $whiteColor;
    color: $darkColor;
    padding: .5rem;
    border-radius: 0 0 .25rem .25rem;

    .triangle {
        position: absolute;
        bottom: -.8rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        width: 0;
        height: 0;
        border-left: .9rem solid transparent;
        border-right: .9rem solid transparent;
        border-top: .9rem solid $whiteColor;   
    }

    .title {
        font-size: 1rem;
        font-weight: 600;
    }

    .mention {
        font-size: .85rem;
    }
}

@media (min-width: $breakpointInterDesktop) {

    .release-infos {
        text-align: unset;
        position: unset;
        background: unset;
        color: unset;
        padding: unset;
        border-radius: unset;

        .triangle {
            display: none;
        }

        .title {
            font-size: 2.5rem;
        }

        .mention {
            display: none;
        }
    }
}