@import '../../../assets/sass/colors.scss';

.image-container {
    width: 100%;
    display: inline-block;
    position: sticky;
    top: -5rem;
    z-index: 1;

    .img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .player-icon-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        display: flex;
        align-items: center;
        background: rgba($darkColor, .5);
        backdrop-filter: blur(5px);
        border-radius: 100%;
        cursor: pointer;

        &:hover > .icon {
            font-size: 4rem;
        }

        .icon {
            font-size: 3.5rem;
            color: rgba($whiteColor, 1);
            transition: font-size .1s ease-in-out;
        }
    }

    .hidden-counter-container {
        display: none;
    }

    .counter-container {
        position: absolute;
        bottom: .75rem;
        right: .75rem;
        font-size: .85rem;
        width: 3.5rem;
        padding: .25rem;
        background: rgba($darkColor, .5);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
    }

    .hidden-progress-bar {
        width: 0;
    }

    .progress-bar {
        position: absolute;
        bottom: .25rem;
        width: 100%;
        height: .25rem;
        background: $whiteColor;
        transition: width 30s; // = audioPreview duration time
    }
}