@import '../../assets/sass/colors.scss';

footer {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    background: $darkColor;
    border-top: solid 1px rgba($whiteColor, .1);

    .content {
        width: 100%;
        max-width: 75rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-weight: 200;
        }
    }
}