@import '../../../assets/sass/colors.scss';

.action-button {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: .9rem;
    cursor: pointer;

    &:hover {
        color: $accentColor;
    }
}