@import '../../../assets/sass/colors.scss';
@import '../../../assets/sass/breakpoints.scss';

.linkEditor-form {
    width: 100%;
    max-width: unset;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .generated-links, .manual-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .spinner-container {
        height: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: $breakpointLargeTablet) {

    .linkEditor-form {
        gap: 4rem;
    }
}