@import '../../../assets/sass/colors.scss';

.date-infos {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    border-top: solid 1px rgba($whiteColor, .1);
    padding-top: 1rem;

    p {
        font-size: .75rem;
        font-weight: 400;
        opacity: .75;
    }
}